.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;
}

.nav {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
  align-items: center;

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    color: white;
    font-family: $font-display;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;

    display: block;
    height: 100%;
    padding: 1.5rem;

    transition: all 200ms ease;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(white, 0.05);
  }
}

.copyright {
  margin: 6rem auto;
  margin-bottom: 0;
  font-size: 1.4rem;
  color: $color-grey-light-1;
  text-align: center;
  width: 70%;
}
