.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: $box-shadow-large;
  background-color: rgba($color-white, 0.6);
  border-radius: $border-radius-md;
  padding: 6rem;
  padding-left: 9rem; // 6rem + (-3rem) from transform .story__shape below
  font-size: $font-size-default;

  transform: skewX(-11deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 3rem;
    padding-left: 6rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  &__shape {
    position: relative;

    width: 15rem;
    height: 15rem;

    float: left;
    // border-radius: 50%;
    shape-outside: circle(40% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); // in this case alternative 50%radius
    transform: translateX(-3rem) skewX(11deg);

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.2);
    transition: all 300ms ease-in-out;

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__text {
    transform: skewX(11deg);

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: $color-white;
    font-size: 1.8rem;

    transform: translate(-50%, -10%);
    opacity: 0;
    transition: all 300ms ease-in-out;
    // backface-visibility: hidden;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(4px) brightness(90%);
  }
}
